body {
  padding: 0;
  margin: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 377px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

#upper-section {
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#title {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

#input-section {
  display: flex;
  flex-direction: row;
  width: 345px;
  height: 38px;
  gap: 6px;
}

#input-box {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}

#add-button {
  width: 60px;
  height: 40px;
  background-color: #3C82F6;
  color: white;
  border-radius: 6px;
  border: none;
}

#task-states-section {
  display: flex;
  flex-direction: row;
  width: 345px;
  height: 42px;
  gap: 6px;
  margin-top: 30px;
}

#all-tasks-button
{
  width: 37px;
  height: 32px;
  border: none;
  border-radius: 6px;
  background-color: #F3F4F6;
  color: #363636;
  font-size: 12px;
}
#active-tasks-button
{
  width: 56px;
  height: 32px;
  border: none;
  border-radius: 6px;
  background-color: #F3F4F6;
  color: #363636;
  font-size: 12px;
}
#completed-tasks-button
 {
  width: 82px;
  height: 32px;
  border: none;
  border-radius: 6px;
  background-color: #F3F4F6;
  color: #363636;
  font-size: 12px;
}

#all-tasks-button:hover,
#active-tasks-button:hover,
#completed-tasks-button:hover{
  background-color: #e0e0e0;
}

button.active {
    background-color: #3C82F6;
    color: #F9F9F9;
  }

  #task-list-container {
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  #list-container{
    width: 345px;
    height: 62px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }


#number-of-tasks-section {
  width: 347px;
  height: 17px;
}

#number-of-task {
  text-align: center;
  color: #6B7280;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
}

#lower-section {
  width: 345px;
  height: 15px;
}
